<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=172.16.2.22;Initial Catalog=PurePunjabiSitecore_core;Integrated Security=False;User ID=sa;Password=mahek" />
  <add name="master" connectionString="Data Source=172.16.2.22;Initial Catalog=PurePunjabiSitecore_master;Integrated Security=False;User ID=sa;Password=mahek" />
  <add name="web" connectionString="Data Source=172.16.2.22;Initial Catalog=PurePunjabiSitecore_web;Integrated Security=False;User ID=sa;Password=mahek" />
  <add name="analytics" connectionString="mongodb://localhost:27017/PurePunjabi_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/PurePunjabi_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/PurePunjabi_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/PurePunjabi_tracking_contact" />
  <add name="reporting" connectionString="Data Source=172.16.2.22;Initial Catalog=PurePunjabiSitecore_reporting;Integrated Security=False;User ID=sa;Password=mahek" />
</connectionStrings>