<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="PurePunjabi" patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/PurePunjabi"
            database="web"
            domain="extranet"
            enableAnalytics="true"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="100MB"
            registryCacheSize="0" viewStateCacheSize="0" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" xslCacheSize="5MB" disableClientData="false" hostName="PurePunjabi" />
    </sites>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site patch:before="*[1]" hint="PurePunjabi">PurePunjabi</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site patch:before="*[1]" hint="PurePunjabi">PurePunjabi</site>
          </sites>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>